@import "../../styles/vars";

.controls {
	display: grid;
	grid-template-columns: auto 1fr auto 2fr;
	color: $main-text;

	&Count {
		grid-column: 1;
		margin-bottom: 20px;
		font-size: 14px;
	}

	&Btns {
		display: flex;
		grid-column: 1;
		align-items: center;
		justify-content: flex-start;
	}

	&Btn:first-child {
		margin-right: 20px;
	}

	.sliderPag {
		display: none;
		position: relative;
		grid-column: 3;
	}

	@media screen and (max-width: 525px) {
		&Count {
			margin-bottom: 10px;
		}

		&Btn:first-child {
			margin-right: 8px;
		}

		.sliderPag {
			display: block;
		}
	}
}
