@import "../../styles/vars";

.slide {
	max-width: 400px;

	&Title {
		margin-bottom: 15px;
		color: $slider-accent;
		font-family: $accent-font;
		font-size: 25px;
		line-height: 1.2;
	}

	&Text {
		color: $main-text;
		font-family: $main-font;
		font-size: 20px;
		line-height: 1.16;
	}

	@media screen and (max-width: 525px) {
		max-width: 180px;

		&Title {
			font-size: 16px;
		}

		&Text {
			font-size: 14px;
		}
	}
}
