@import "../../styles/vars";

.title {
	position: relative;
	margin: 0;
	margin-bottom: 56px;
	padding-left: 78px;
	color: $main-text;
	font-family: $main-font;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 5px;
		height: 90%;
		margin-top: auto;
		margin-bottom: auto;
		background: $accent-gradient;
		background-color: $accent-second;

		@media screen and (max-width: 525px) {
			display: none;
		}
	}

	@media screen and (max-width: 1060px) {
		padding-left: 58px;
		font-size: 40px;
	}

	@media screen and (max-width: 725px) {
		margin-bottom: 76px;
		padding-left: 28px;
		font-size: 32px;
	}

	@media screen and (max-width: 525px) {
		margin-bottom: 36px;
		padding-left: 0;
		font-size: 20px;
	}
}
