@import '../../styles/vars.scss';

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgba($main-text, $alpha: 0.7);
  transition: all 300ms;
}

.swiper-pagination-bullet-active {
   background-color: rgba($main-text, $alpha: 1);
}