@import "../../styles/vars";

.slider {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;

	&Wrapper {
		margin-right: 80px;
		margin-left: 80px;
		overflow: hidden;
	}

	&Topic {
		display: none;
	}

	&Slide {
		width: fit-content;
	}

	&Pag {
		background-color: aquamarine;
	}

	&Nav_prev,
	&Nav_next {
		position: absolute;
		z-index: 10;
		flex-shrink: 0;
		width: 2.5rem !important;
		height: 2.5rem !important;
	}

	&Nav_prev {
		left: 20px;
		opacity: 0;
	}

	&Nav_next {
		right: 20px;
	}

	@media screen and (max-width: 725px) {
		&Wrapper {
			margin-right: 15px;
			margin-left: 15px;
		}

		&Nav_prev,
		&Nav_next {
			display: none;
		}
	}

	@media screen and (max-width: 525px) {
		&Wrapper {
			margin-right: 0;
			margin-left: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid #C7CDD9;
		}

		&Topic {
			display: block;
			position: absolute;
			top: -25px;
			left: 0;
			color: $main-text;
		}
	}
}
