@import "../../styles/vars";

.dots {
	display: flex;
	position: absolute;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: 524px;
	height: 524px;
	margin: auto;
	border: 1px solid rgba($main-text, $alpha: 0.2);
	border-radius: 50%;

	&Item {
		position: absolute;
	}

	@media screen and (max-width: 1060px) {
		width: 330px;
		height: 330px;
	}
}
