@import '../../styles/vars.scss';

.dots {
    position: absolute;
    z-index: 11;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 524px;
    height: 524px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($main-text, $alpha: 0.2);
    border-radius: 50%;

    &Item {
        position: absolute;
    }

    @media screen and (max-width: 1060px) {
        width: 330px;
        height: 330px;
    }
}